---
import IconArrow from "../components/icons/IconArrow.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import Contact from "../sections/contact.astro"
import Masterminds from "../sections/masterminds.astro"
---

<BaseLayout>
  <div
    class="page bg-coal text-white relative grid grid-cols-[var(--gutter1),var(--gutter2),auto,var(--endGutter)] grid-rows-[minmax(max-content,10vh),repeat(var(--sections),auto)] gap-y-[var(--gapY)]"
  >

    <section id="about" class="[grid-area:1/1/auto/-1] pt-[var(--sectionPaddingTop)]">
      <Masterminds></Masterminds>
    </section>
 
  </div>
</BaseLayout>

<style>
.page, footer {
  --sections: 10;
  --sectionPaddingTop: 10rem;
  --gapY: 6rem;
  --startGutter: calc(var(--gutter1) + var(--gutter2));
  --gutter1: 1rem;
  --gutter2: 0rem;
  --endGutter: 1rem;

  @media (min-width: 560px) and (max-width: 976px) {
    --gutter1: 2.5rem;
    --gutter2: 2rem;
  }

  @media (min-width: 976px) and (max-width: 1550px) {
    --gutter1: 115px;
    --gutter2: 95px;
    --endGutter: 100px;
  }

  @media (min-width: 1550px) {
    --gutter1: 150px;
    --gutter2: 175px;
    --endGutter: 175px;
  }
}
</style>