---
import NavLinks from '../components/navLinks.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../sections/hero.astro';
import TechnischeDaten from '../sections/technische-daten.astro';
---
<BaseLayout>
  <div class="landing [--sections:7] relative grid grid-cols-[100px,100px,auto,100px] grid-rows-[minmax(max-content,10vh),repeat(var(--sections),auto)] gap-y-16">

    <nav class="row-start-1 col-start-3 flex self-start items-center bg-slate-900 bg-opacity-[.60] px-4 py-16 sticky top-0 z-50">
      <ul class="flex justify-between w-full uppercase">
        <NavLinks></NavLinks>
      </ul>
    </nav>

    <a href="#contact" class="row-span-full col-start-1 mt-[50vh] translate-y-[-50%] [writing-mode:vertical-lr] self-start justify-self-center pr-4 font-bold rotate-180 pin z-30">
      Hol dir hier deinen Smoker!
    </a>
    <svg id="cta-arrow"
      class="z-10 [grid-row:1/-2] col-start-2 w-1 h-full justify-self-start stroke-white"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      viewBox="0 0 100 100">
      <g stroke-width="2" stroke-dasharray="5,7" stroke-dashoffset="0" stroke-linecap="square">
        <polyline points="0,0 0,100" vector-effect="non-scaling-stroke"/>
        <path d="M0,100 L,0 0,100" vector-effect="non-scaling-stroke"/>
      </g>
    </svg>

    <section class="hero row-start-1 row-span-2 col-start-3">
      <Hero></Hero>
    </section>

    <section id="features" class="row-start-3 col-start-3">
      <TechnischeDaten></TechnischeDaten>
    </section>

    <section class="row-start-4 col-start-3">
      <h2>Produktfeatures</h2>
    </section>

    <section class="row-start-5 col-start-3">
      <h2>Herstellung</h2>
    </section>

    <section id="addons" class="row-start-6 col-start-3 pt-40">
      <h2>Optionales Zubehör</h2>
    </section>

    <section id="about" class="row-start-7 col-start-3 pt-40">
      <h2>Die Köpfe dahinter</h2>
    </section>

    <section id="contact" class="row-start-8 col-start-3 pt-40">
      <h2>Schreib uns</h2>
    </section>

    <a href="#" class="row-start-[-1] [grid-col:1/2] justify-self-center self-end mb-8 border border-white py-1 px-2">
      Top
    </a>
</div>
</BaseLayout>

<script>
import { gsap } from 'gsap'
import { ScrollTrigger } from 'gsap/ScrollTrigger'

(function() {
if (document.readyState === 'complete') {
  init()
} else {
  window.addEventListener('load', init)
}

function init() {
  gsap.registerPlugin(ScrollTrigger)
  ScrollTrigger.create({
    trigger: 'svg',
    pin: '.pin',
    start: 'top top',
    end: 'bottom bottom',
    // markers: true
  })

  // const svg = document.querySelector('#cta-arrow')
  // const line = document.querySelector('#aside-line')
  // const headline = document.querySelector('#contact h2')
  // console.log({svg, line, headline})
  // if (svg && line && headline) {
  //   const { top, height } = headline.getBoundingClientRect()
  //   const { height: fullHeight } = svg.getBoundingClientRect()
  //   const y = (window.scrollY + top + height/2) / fullHeight * 100
  //   line.setAttribute('d', line.getAttribute('d').replace(/v \d+.*/, `v ${y} h 100`))
  // }
}
})()

// // not on safari :(
// const resizeObserver = new ResizeObserver(entries => {
// })
</script>