---
import { Picture } from '@astrojs/image/components';
import NavLinks from '../components/navLinks.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../sections/hero.astro';
import ProduktFeatures from '../sections/produkt-features.astro';
import TechnischeDaten from '../sections/technische-daten.astro';
import FlameLogo from '../components/icons/FlameLogo.astro';
import CrossedKnifes from '../components/icons/CrossedKnifes.astro';
import Herstellung from '../sections/herstellung.astro';
import Masterminds from '../sections/masterminds.astro';
import Contact from '../sections/contact.astro';
import IconArrow from '../components/icons/IconArrow.astro';
import CallToAction from '../components/CallToAction.astro';
import DecorativeSmoker from '../sections/assets/post-daten-decorative-smoker.jpg'
import DecorativeBbq from '../sections/assets/post-zubehoer-bbq.jpg'
import Gemuese from '../components/icons/Gemuese.astro';
import Fleisch from '../components/icons/Fleisch.astro';
import Embers from '../sections/assets/contact-embers.jpg'
import Tomaten from '../components/icons/Tomaten.astro';
import Wood from '../sections/assets/daten-smoldering-fire.jpg'

const sections = 10
const gutter1 = '150px'
const gutter2 = '175px'
const endGutter = '175px'
const startGutter = parseInt(gutter1) + parseInt(gutter2) + 'px'
const sectionPaddingTop = '10rem'
const gapY = '6rem'
---
<BaseLayout>
  <div
    class="relative grid grid-cols-[var(--gutter1),var(--gutter2),auto,var(--endGutter)] grid-rows-[minmax(max-content,10vh),repeat(var(--sections),auto)] gap-y-[var(--gapY)]"
  >
    <div class="[grid-area:1/1/auto/-1] h-min bg-coal bg-opacity-60 pl-[var(--startGutter)] pr-[var(--endGutter)] sticky top-0 z-50">
      <nav class="relative px-12 py-16">
        <NavLinks></NavLinks>
        <FlameLogo class="absolute left-0 top-0 w-32 ml-[-5rem] mt-[2rem] fill-ember"></FlameLogo>
      </nav>
    </div>

    <a href="#contact" class="[grid-area:1/1/-1] mt-[50vh] translate-y-[-50%] [writing-mode:vertical-lr] self-start justify-self-center pr-4 rotate-180 pin font-bold uppercase z-10">
      Hol dir hier deinen Smoker!
    </a>
    <div class="[grid-row:1/-1] relative col-start-1 justify-self-end h-full">
      <CallToAction
        id="cta-arrow"
        class="absolute left-0 opacity-[.99] w-1 h-full stroke-white z-10">
      </CallToAction>
    </div>

    <section id="hero" class="hero [grid-area:1/3/span_2]">
      <Hero></Hero>
    </section>

    <div class="[grid-area:3/1/auto/-1] relative z-20 -mb-[calc(var(--gapY)+var(--sectionPaddingTop)/2)]">
      <Picture src={Wood} widths={[1920]} sizes="1920" alt="">
      </Picture>
    </div>
    <div class="[grid-area:4/3]">
      <section id="data" class="pt-[var(--sectionPaddingTop)]">
        <TechnischeDaten></TechnischeDaten>
        <div class="h-44"></div>
        <ProduktFeatures></ProduktFeatures>
      </section>
    </div>

    <div class="[grid-area:5/1/auto/-1] mt-48 grid grid-rows-1 grid-cols-1 relative z-20">
      <div class="[grid-area:1/1] relative after:absolute after:inset-0 after:bg-black after:opacity-25">
        <Picture src={DecorativeSmoker} alt="" widths={[1920]} sizes="1920"></Picture>
      </div>
      <div class="[grid-area:1/1] w-48 relative -top-12 left-[calc(var(--gutter1)+25px)]">
        <CrossedKnifes class="fill-spark"></CrossedKnifes>
      </div>
      <div class="[grid-area:1/1] relative cursive text-6xl -rotate-90 w-fit h-fit origin-top-left place-self-end translate-y-[145%] translate-x-[33%]">
        Vollendetes Design<br>bis ins kleinste Detail
      </div>
    </div>

    <section id="production" class="[grid-area:6/3] mt-[5rem] pt-[var(--sectionPaddingTop)]">
      <Herstellung></Herstellung>
    </section>

    <section id="addons" class="[grid-area:7/3] mt-[10rem] pt-[var(--sectionPaddingTop)]">
      <h2 class="text-9xl steel">Optionales Zubehör</h2>
      <div class="mt-12">
        Coming soon ...
      </div>
    </section>

    <div class="[grid-area:8/1/auto/-1] my-48 grid grid-rows-1 grid-cols-1 relative z-20">
      <div class="[grid-area:1/1] relative after:absolute after:inset-0 after:bg-black after:opacity-25">
        <Picture src={DecorativeBbq} alt="" widths={[1920]} sizes="1920"></Picture>
      </div>
      <div class="[grid-area:1/1] w-64 relative justify-self-end -top-20 right-[var(--endGutter)]">
        <Gemuese class="fill-white"></Gemuese>
      </div>
      <div class="[grid-area:1/1] w-64 relative self-end -bottom-16 left-[calc(var(--gutter1)+50px)]">
        <Fleisch class="fill-white"></Fleisch>
      </div>
      <div class="[grid-area:1/1] relative cursive text-6xl -rotate-90 w-fit h-fit origin-top-left place-self-end translate-y-[145%] translate-x-[33%]">
        Schon auf den<br>Geschmack gekommen?
      </div>
    </div>

    <section id="about" class="[grid-area:9/1/auto/-1] pt-[var(--sectionPaddingTop)]">
      <Masterminds></Masterminds>
    </section>

    <div class="[grid-area:10/1/auto/-1] relative mt-[calc(var(--gapY)+var(--sectionPaddingTop))] -mb-[calc(20rem+var(--sectionPaddingTop))] grid grid-rows-1 grid-cols-1">
      <div class="[grid-area:1/1] relative after:absolute after:inset-0 after:bg-gradient-to-b after:from-coal after:to-[rgba(0,0,0,0.5)] after:opacity-75">
        <Picture src={Embers} alt="" widths={[1920]} sizes="1920"></Picture>
      </div>
      <div class="[grid-area:1/1] relative cursive text-6xl -rotate-90 w-fit h-fit self-center justify-self-end flex items-center translate-x-20 -translate-y-40">
        <div class="mr-24">Heiß auf Qualität?</div>
        <Tomaten class="fill-white w-48 rotate-90"></Tomaten>
      </div>
    </div>
    <div class="[grid-area:11/2/auto/span_2]">
      <section id="contact" class="pt-[var(--sectionPaddingTop)]">
        <Contact></Contact>
      </section>
    </div>
  </div>

  <div class="flex w-[var(--gutter1)] justify-end mt-8 mr-4">
    <a href="#" class="mb-8 border border-white py-1 px-2">
      <IconArrow class="rotate-180 w-4 fill-white py-2"></IconArrow>
    </a>
  </div>

  <footer class="bg-white text-black py-8 space-y-8">
    <div class="pl-[var(--gutter1)] pr-[var(--endGutter)] flex justify-evenly">
      <div>AGBs</div>
      <div>Impressum</div>
      <div>Datenschutz</div>
      <div>Lieferung &amp; Retouren</div>
      <div>Zahlungsarten</div>
      <div>Cookie-Erklärungen</div>
    </div>
    <div class="text-center">
      Design &amp; Programmierung mit &hearts; by <a class="underline" target="_blank" href="https://ironleaves-design.com">Ironleaves Design</a> | &copy; 2022
    </div>
  </footer>
</BaseLayout>

<style define:vars={{ sections, gutter1, gutter2, endGutter, startGutter, sectionPaddingTop, gapY }}>
</style>