---
const links = [
  ['Home', '', 'hero'],
  ['Technische Daten', 'data'],
  ['Herstellung', 'production'],
  ['Zubehör', 'addons'],
  ['Über uns', 'about'],
  ['Kontakt', 'contact']
]
---
<ul class="hidden md:flex justify-between gap-x-2 w-full uppercase font-bold">
  {links.map(([title, target, id]) => (
    <li class="flex flex-col items-center" data-section-id={id || target}>
      <a href={`#${target}`} class="leading-none">{title}</a>
      <div class="relative w-full flex justify-center">
        <hr class="absolute w-full top-0">
        <div class="dot absolute mx-auto border-4 rounded-[50%] mt-2"></div>
      </div>
    </li>
  ))}
</ul>
<div class="md:hidden font-bold uppercase underline cursor-pointer">Menu</div>

<script>
if (IntersectionObserver) {
  const sectionElements = document.querySelectorAll('section[id]')
  const navLinks = document.querySelectorAll('nav > ul > li')
  const sections = Array.from(navLinks).reduce((result, element) => {
    result[element.getAttribute('data-section-id')] = element
    return result
  }, {})

  const intersectionObserver = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const id = entry.target.getAttribute('id')
      if (entry.intersectionRatio > 0.2) {
        sections[id]?.classList.add('active')
      } else {
        sections[id]?.classList.remove('active')
      }
    })
  }, {
    threshold: Array(10).fill(undefined).map((_, index, array) => (index+1)/array.length)
  })

  let registered = false
  let timeout: number
  const delay = 250
  const minWidth = 600

  handleResize()

  function handleResize() {
    // console.log('resized')
    if (window.innerWidth < minWidth) {
      if (registered) {
        intersectionObserver.disconnect()
        registered = false
        navLinks.forEach(element => element.classList.remove('active'))
        // console.log('unregistered')
      }
    } else {
      if (!registered) {
        sectionElements.forEach(section => intersectionObserver.observe(section))
        registered = true
        // console.log('registered')
      }
    }
  }

  window.addEventListener('resize', function() {
    clearTimeout(timeout);
    timeout = setTimeout(handleResize, delay);
  });
}
</script>

<style>
  li {
    &.active {
      @apply text-red-600 border-red-600;
    }

    * {
      border-color: inherit;
    }

    .dot {
      @apply transition-all;
    }

    &:not(.active):not(:hover) .dot {
      @apply scale-0;
    }
  }
</style>