---
interface Props {
  img: string
  title: string
}
const { img, title, text } = Astro.props
---
<figure class="grid grid-rows-1 grid-cols-1 overflow-hidden" x-data="{ open: false }">
  <img class="[grid-area:1/1]" src={`/blacksmocian/images/${img}`}>
  <figcaption class="[grid-area:1/1] flex flex-col p-24 space-y-6 bg-black justify-center bg-opacity-80 transition-transform duration-1000 translate-y-full" x-bind:class="open && 'translate-y-0'">
    <h4 class="steel text-5xl text-spark">{ title }</h4>
    <slot></slot>
  </figcaption>
  <button
    class="[grid-area:1/1] relative place-self-end m-4 p-1 border-[6px] rounded-full text-7xl aspect-square transition-transform leading-[0] origin-center duration-1000"
    x-bind:class="open && 'rotate-[225deg]'"
    x-on:click="open = !open">
    <span class="relative steel bottom-[8px]">+</span>
  </button>
</figure>
