---
import IconArrow from "../components/icons/IconArrow.astro"
---
<form class="relative min-[560px]:ml-6 bg-ember px-8 lg:px-[max(calc(var(--gutter2)-24px),2rem)] py-12 xl:py-20 flex flex-col lg:grid lg:grid-rows-[repeat(3,auto)] lg:grid-cols-2 gap-y-8 gap-x-24">
  <h2 class="lg:[grid-area:1/1/auto/-1] min-[1900px]:[grid-area:1/1] min-[1550px]:-ml-12 relative steel text-7xl md:text-9xl lg:text-9xl lg:mb-12 flex items-center">
    <IconArrow id="cta-arrow-head" class="hidden min-[560px]:block relative lg:-left-4 min-[1550px]:-left-12 w-12 fill-white -rotate-90"></IconArrow>
    Schreib uns!
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem corporis quidem a alias ullam culpa architecto provident nulla vero odit ipsum ea iste repellat, dolor, omnis eligendi voluptatum nesciunt? Quia.
  </p>
  <div class="lg:col-start-2 lg:row-span-2 min-[1900px]:[grid-area:1/2/-1] flex flex-col gap-y-4 lg:pt-4">
    <input class="placeholder:text-gray-200" type="text" placeholder="Name*">
    <input class="placeholder:text-gray-200" type="text" placeholder="E-Mail-Adresse*">
    <textarea class="placeholder:text-gray-200 h-full" placeholder="Nachricht*"></textarea>
  </div>
  <div class="lg:[grid-area:3/1] space-y-8">
    <div class="flex items-start gap-x-4">
      <input id="data-protection-accepted" class="mt-1" type="checkbox">
      <label for="data-protection-accepted" class="text-sm">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur corrupti error sint molestias, ipsum fugiat magni maiores animi, eaque culpa voluptatibus saepe illo numquam iste.
      </label>
    </div>
    <div class="relative w-fit h-fit before:absolute before:bg-white before:-inset-y-1 before:inset-x-3 hover:before:inset-0 before:transition-all">
      <button type="submit" class="relative border-2 border-black text-black pl-8 pr-4 py-2 flex items-center justify-around gap-x-4">
        <span class="relative font-bold">Abschicken</span>
        <span class="relative w-6 origin-center -rotate-90"><IconArrow></IconArrow></span>
      </button>
    </div>
  </div>
</form>

<style>
  input[type=text], textarea {
    @apply bg-ember border-2 border-white p-4;
  }
</style>