---
import Grillzange from "../components/icons/Grillzange.astro";
import MadeInGermanyStamp from "../components/icons/MadeInGermanyStamp.astro";
import { Picture } from '@astrojs/image/components';
import Sparks from './assets/hero-sparks-orig.jpg'
import Smoker from './assets/hero-smoker.jpg'
---
<div class="flex w-full relative">
  <Picture src={Sparks} alt="" sizes="30%" widths={[1000]}
    class="w-[54%] object-cover shadow">
  </Picture>
  <header class="absolute self-center right-0">
    <h1 class="text-[13.5rem] steel tracking-wide">Blacksmocian</h1>
  </header>
</div>
<div class="grid grid-rows-1 grid-cols-2">
  <div class="flex relative justify-self-end self-center pr-12 py-8 border-y border-white">
    <Grillzange class="relative top-0 left-0 translate-x-[-6.2rem] w-[10rem] fill-ember">
    </Grillzange>
    <p class="text-2xl font-bold inline-block uppercase self-center">
      Der Smoker, der<br>
      <span class="text-spark underline">jedes</span> BBQ<br>
      veredelt
    </p>
  </div>
  <div class="[grid-area:1/2] justify-self-end -mt-24">
    <Picture src={Smoker} alt="" sizes="30%" widths={[500]} class="shadow">
    </Picture>
  </div>
  <div class="[grid-area:1/2] relative w-[16rem] h-fit translate-y-[-100%] -top-16 -left-4">
    <MadeInGermanyStamp class="fill-white stroke-white"></MadeInGermanyStamp>
  </div>
</div>