---
import Grillzange from "../components/Grillzange.astro";
import MadeInGermanyStamp from "../components/MadeInGermanyStamp.astro";
---
<div class="flex w-full relative">
  <img src="/images/alvaro-reyes-zUEjNDEEca8-unsplash.jpg"
    class="h-[60rem] w-[48rem] object-cover shadow">
  <header class="absolute self-center right-0">
    <h1 class="text-[13.5rem] steel tracking-wide">Blacksmocian</h1>
  </header>
</div>
<div class="grid grid-rows-1 grid-cols-2">
  <div class="flex relative justify-self-end self-center pr-12 py-8 border-y border-white">
    <div class="relative top-0 left-0 translate-x-[-6.2rem] w-[10rem]">
      <Grillzange></Grillzange>
    </div>
    <p class="text-2xl inline-block max-w-[20ch] uppercase self-center">
      Der Smoker, der 
      <span class="text-spark underline">jeden</span>
      Garten veredelt
    </p>
  </div>
  <img
    src="/images/blacksmocian-edit-1-1006.jpg"
    class="[grid-area:1/2] justify-self-end -z-10 -mt-24">
  <div class="[grid-area:1/2] relative w-[16rem] h-fit translate-y-[-100%] -top-16 -left-4">
    <MadeInGermanyStamp></MadeInGermanyStamp>
  </div>
</div>