<div class="flex w-full relative">
  <img src="/images/smoker.jpg"
    class="max-w-[55%] shadow">
  <header class="absolute self-center right-0">
    <h1 class="text-[13.5rem] steel tracking-wide">Blacksmocian</h1>
  </header>
</div>
<div class="grid grid-rows-1 grid-cols-2">
  <div class="col-start-1 justify-self-end self-center px-12 py-8 border-y border-white">
    <p class="inline-block max-w-[20ch] uppercase">
      Der Smoker, der 
      <span class="text-spark">jeden</span>
      Garten veredelt
    </p>
  </div>
  <img
    src="/images/joshua-kantarges-wO4CyWnIzz4-unsplash.jpg"
    class="col-start-2 justify-self-end -z-10 -mt-8">
</div>