---
import Grillzange from "../components/icons/Grillzange.astro";
import MadeInGermanyStamp from "../components/icons/MadeInGermanyStamp.astro";
import { Picture } from '@astrojs/image/components';
import Sparks from './assets/hero-sparks-orig.jpg'
import Smoker from './assets/hero-smoker.jpg'
---
<div class="flex w-full relative">
  <Picture src={Sparks} alt="" sizes="50%" widths={[1000, 500]}
    class="relative max-w-[min(415px,100%)] sm:max-w-[54%] object-cover shadow z-10">
  </Picture>
  <header class="absolute self-center right-0 max-[1380px]:mt-[-9rem] z-20">
    <h1 class="text-6xl min-[530px]:text-[6rem] min-[630px]:text-[7rem] md:text-[8rem] lg:text-[9rem] min-[1130px]:text-[10rem] min-[1220px]:text-[11rem] min-[1380px]:text-[12.5rem] min-[1600px]:text-[13.5rem] steel tracking-wide drop-shadow">Blacksmocian</h1>
  </header>
</div>
<div class="relative sm:grid sm:grid-rows-1 sm:grid-cols-2">
  <div class="sm:[grid-area:1/2] absolute sm:relative w-[min(50%,13rem)] min-[1080px]:w-[13rem] min-[1380px]:w-[16rem] h-fit top-[max(-35%,-11rem)] sm:top-[unset] sm:translate-y-[-100%] max-lg:overflow-x-hidden -right-[var(--endGutter)] sm:right-[unset] sm:-left-4 z-20">
    <div class="relative left-8 sm:left-[unset] min-[1380px]:-top-16">
      <MadeInGermanyStamp class="fill-white stroke-white">
      </MadeInGermanyStamp>
    </div>
  </div>
  <div class="flex flex-col sm:flex-row relative justify-self-end self-center my-4 max-sm:px-4 sm:pr-12 py-8 border-y border-white">
    <Grillzange class="hidden md:block relative top-0 left-0 translate-x-[-2.2rem] min-[1220px]:translate-x-[-6.2rem] w-[7rem] lg:w-[10rem] fill-ember">
    </Grillzange>
    <p class="min-[1220px]:text-2xl font-bold inline-block uppercase sm:self-center">
      Der Smoker, der<br class="">
      <span class="text-spark underline">jedes</span> BBQ<br class="hidden sm:inline">
      veredelt
    </p>
    <a href="#contact" class="underline uppercase font-bold mt-4 self-end sm:hidden">
      Hol dir hier deinen Smoker!
    </a>
  </div>
  <div class="[grid-area:1/2] justify-self-end sm:-mt-8 min-[1380px]:-mt-24">
    <Picture src={Smoker} alt="" sizes="30%" widths={[500]} class="shadow">
    </Picture>
  </div>
</div>