---
import Wurstgabel from "../components/icons/Wurstgabel.astro";
---

<h2 class="text-9xl steel">Herstellung</h2>
<div class="flex gap-x-24 mt-12">
  <div class="pl-32 w-[50%] space-y-6">
    <p class="text-2xl font-bold uppercase pb-6">
      Lorem ipsum dolor sit amet consectetur adipisicing.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, illum accusamus cupiditate recusandae illo nemo quaerat doloribus aliquam ullam tempore consequuntur repellat non perferendis. Dolores quas ratione eum doloremque inventore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, illum accusamus cupiditate recusandae illo nemo quaerat doloribus aliquam ullam tempore consequuntur repellat non perferendis. Dolores quas ratione eum doloremque inventore.</p>
  </div>
  <figure class="w-[40%] grid grid-rows-1 grid-cols-1 grow-0">
    <img class="[grid-area:1/1] w-full h-full pr-12 pb-[3.6rem]" src="/images/spencer-davis-SVfXlChg9HI-unsplash.jpg" alt="">
    <div class="[grid-area:1/1] relative w-48 justify-self-end top-[-11rem]">
      <Wurstgabel class="fill-spark"></Wurstgabel>
    </div>
    <figcaption class="[grid-area:1/1] place-self-end text-5xl text-ember cursive">Mit Herzblut<br>geschmiedet</figcaption>
  </figure>
</div>
