---
import DashedLine from "../components/DashedLine.astro";

---
<h2 class="ml-[var(--startGutter)] mb-40 steel text-9xl">
  Die Köpfe dahinter
</h2>
<div class="grid grid-rows-[5rem,auto] grid-cols-[var(--startGutter),1fr,10rem,1fr,.5fr,var(--endGutter)]">
  <div class="[grid-area:2/1/auto/span_3] text-5xl flex items-center h-fit mr-4">
    <DashedLine class="h-1 w-full justify-self-start stroke-white -z-10"></DashedLine>
    &nbsp;
  </div>
  <div class="[grid-area:2/4] space-y-12">
    <div class="steel text-spark text-5xl">Tarek Gerhards</div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci iure nobis fugiat vitae recusandae explicabo nam nostrum molestiae, laudantium a exercitationem qui voluptas. Esse rerum nihil consequatur minima. Corporis, ea.</p>
  </div>
  <figure class="[grid-area:1/2/span_2] relative">
    <img
      class="shadow w-full object-cover"
      src="/blacksmocian/images/nicholas-peloso-BMGZM7g1lBA-unsplash.jpg"
      alt=""
    />
    <figcaption class="absolute -right-10 -bottom-6 cursive text-ember text-4xl">Der Mastermind</figcaption>
  </figure>
</div>

<div class="grid grid-rows-[5rem,auto,auto,auto] grid-cols-[var(--startGutter),1fr,10rem,1fr,.5fr,var(--endGutter)] mt-16">
  <div class="[grid-area:2/2/auto/-1] steel text-spark text-5xl flex items-center">
    <div class="w-fit h-min whitespace-nowrap">Henry Schwan&nbsp;</div>
    <DashedLine class="ml-4 h-1 w-full justify-self-start stroke-white -z-10">
    </DashedLine>
  </div>
  <div class="[grid-area:3/2] mt-12">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus totam praesentium iure, necessitatibus officia reprehenderit nemo nulla autem possimus dolores, saepe voluptas rem vero laudantium neque hic, amet dignissimos eum!
  </div>
  <figure class="[grid-area:1/4/-1] relative">
    <img
      class="shadow w-full object-cover h-[500px]"
      src="/blacksmocian/images/zach-reiner-WPRj6VOe3O8-unsplash.jpg"
      alt=""
    />
    <figcaption class="absolute -left-12 -bottom-6 cursive text-ember text-4xl">Das Zahlengenie</figcaption>
  </figure>
</div>

