---
import SlideBox from "../components/SlideBox.astro";
const images = [
  "blacksmocian-edit-1-1118.jpg",
  "blacksmocian-edit-1-1075.jpg",
  "blacksmocian-edit-1-1013.jpg",
  "blacksmocian-edit-1-1045.jpg",
];
---
<h3 class="col-start-3 steel text-7xl mb-12">Produktfeatures</h3>
<div class="col-start-3 grid grid-cols-2 gap-4">
  {
    images.map((img) => (
      <SlideBox img={img}></SlideBox>
    ))
  }
</div>

<script>
</script>
