---
import SlideBox from "../components/SlideBox.astro";
import 'swiper/css'
import 'swiper/css/pagination'

interface Slide {
  title: string
  text: string
  img: string
}

const slides: Slide[] = [
  {
    title: "Besondere Bauform",
    img: "blacksmocian-edit-1-1050.jpg",
    text: "Im Vergleich zu den üblichen runden Smokern, bietet der Blacksmocian ein wesentlich größeres, nutzbares Volumen in Gar- und Brennkammer. Nicht nur die reine Grillfläche ist entscheidend, sondern auch die nutzbare Höhe der Grillfläche.   Aufgrund der verwendeten, besonderen Bauart des Blacksmocian gibt es keine Einschränkung der nutzbaren Höhe über der Grillfläche."
  },
  {
    title: "Massive Bauweise",
    img: "blacksmocian-edit-1-1075.jpg",
    text: "Die aus 6mm Stahlblech gefertigte Gar- und Brennkammer gewährleistet konstante Temperaturen, bei allen Wetterlagen. Der Blacksmocian bietet somit beste Voraussetzungen für erstklassige Ergebnisse beim Smoken."
  },
  {
    title: "Reverse Flow Garkammer",
    img: "blacksmocian-edit-1-1049.jpg",
    text: "Die Heißluft wird mittels Luftleitblech umgelenkt, sodass eine optimale Temperaturverteilung entsteht. Das bedeutet Energie- und somit Kosteneinsparung. Das Gargut wird schonend und gleichmäßig gegart. Das Luftleitblech ist leicht herausnehmbar, z.B. zur Reinigung. Es besteht aus Edelstahl und ist somit äußerst langlebig. Zudem hat es einen Ablauf zur Auffangwanne der Garkammer. "
  },
  {
    title: "Stufenlose Temperaturregelung",
    img: "blacksmocian-edit-1-1058.jpg",
    text: "Optimal angeordnete, stufenlose Temperaturregelung mittels Schieber aus Edelstahl. Die gleichmäßig verteilte Luftzuführung unterhalb des Brennguts bewirkt beste Ergebnisse beim Garprozess.  "
  }
]
---
<h3 class="steel text-5xl md:text-7xl ml-[var(--startGutter)] mb-12">
  Produktfeatures
</h3>
<div class="swiper relative !overflow-x-hidden !overflow-y-visible w-full !z-20" x-data="slider" x-ref="slider">
  <div class="swiper-wrapper !h-[70vh] lg:!h-[50vh]" x-on:interaction="swiper.autoplay.stop">
    {slides.map(({title, text, img}) => (
      <SlideBox class="swiper-slide max-w-[75%] xl:max-w-[40%]" img={img}>
        <h4 class="steel text-3xl sm:text-5xl text-spark">{ title }</h4>
        <p class="max-sm:text-sm">{text}</p>
      </SlideBox>
    ))}
  </div>
  <div class="swiper-navigation relative px-4 mt-16"></div>
</div>

<script>
import Swiper, { Autoplay, Pagination } from 'swiper'
import Alpine from 'alpinejs'

Alpine.data('slider', () => ({
  swiper: null,
  init() {
    this.swiper = new Swiper(this.$refs.slider, {
      modules: [Autoplay, Pagination],
      loop: true,
      spaceBetween: 32,
      slidesPerView: 'auto',
      loopedSlides: this.$refs.slider.querySelectorAll('.swiper-slide').length,
      centeredSlides: true,
      slideToClickedSlide: true,
      pagination: {
        el: '.swiper-navigation',
        dynamicBullets: true,
        dynamicMainBullets: 3,
        clickable: true
      },
      autoplay: {
        delay: 5000
      }
    })
  }
}))
</script>

<style>
  .swiper-navigation {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-size: 1rem;
  }
</style>
