<div class="absolute inset-x-0 h-[25vh] bg-center bg-cover [background-image:url(/images/log.jpg)] z-20">
</div>
<div class="relative mt-[25vh] flex justify-end">
  <figure class="absolute grid [grid-template:1fr/1fr] left-0 w-[45%] -mt-12">
    <img src="/images/smoker_features_1.jpg" class="object-cover [grid-area:1/1/-1/-1]">
    <figcaption class="text-xl [grid-area:1/1/-1/-1] place-self-end pr-4 translate-y-[2.3rem] text-ember">Gebaut um ein<br>Leben lang zu halten</figcaption>
  </figure>
  <div class="relative w-[48%] flex flex-col gap-y-8 [--padding:1.5rem]">
    <h2 class="text-4xl translate-x-[-28%]">Technische Daten</h2>
    <p class="self-end pl-[var(--padding)]">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt nobis, reprehenderit exercitationem itaque soluta non quae eligendi commodi illo quod vitae quas culpa quasi consequatur dolore! Voluptate ducimus reprehenderit similique!
    </p>
    <table class="border-white">
      <tbody>
        <tr>
          <th>Maße</th>
          <td>1.800mm x 850mm x 2.100mm (LxBxH)</td>
        </tr>
        <tr>
          <th>Gewicht</th>
          <td>ca. 225 kg</td>
        </tr>
        <tr>
          <th>Material</th>
          <td>hochwertiger Edelstahl</td>
        </tr>
        <tr>
          <th>Lorem</th>
          <td>psum dolor sit amet</td>
        </tr>
        <tr>
          <th>Ipsum</th>
          <td>adipisicing elit</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  tr:not(:first-child) {
    @apply border-t;
  }
  
  tr > * {
    @apply py-2 px-[var(--padding)];

    &:is(th) {
      @apply border-r text-left;
    }
  }
</style>