---
import { Picture } from "@astrojs/image/components";
import Headline from "../components/Headline.astro";
import SmokeLines from "../components/icons/SmokeLines.astro";
import Smoker from './assets/daten-smoker-voll.jpg'
---
<div class="relative grid [grid-template:repeat(4,auto)/auto] sm:[grid-template:auto_auto_1fr/1fr_7rem_1fr_7rem] gap-8 md:gap-y-16 [--padding:1rem] sm:[--padding:2rem] z-30">
  <figure class="sm:[grid-area:1/1/3/span_2] 2xl:[grid-area:1/1/-1] sm:max-md:w-3/4 grid [grid-template:1fr/1fr] sm:max-md:mb-16 md:-mt-48 h-min">
    <div class="[grid-area:1/1/-1/-1] relative shadow">
      <Picture src={Smoker} widths={[600]} sizes="50%" alt="">
      </Picture>
    </div>
    <figcaption class="max-sm:hidden [grid-area:1/1/-1/-1] place-self-end pr-[1em] translate-y-[3.2rem] cursive text-ember text-4xl">
      Gebaut für<br>Generationen
    </figcaption>
  </figure>
  <Headline level={2} class="max-sm:-mt-12 max-sm:mr-4 relative sm:[grid-area:1/1/auto/-1] 2xl:[grid-area:1/1/auto/span_3] max-md:self-center justify-self-end drop-shadow">
    Technische Daten
    <div class="max-md:hidden w-16 absolute max-sm:left-8 left-0 top-0 -translate-x-8 translate-y-[-150%] fill-white">
      <SmokeLines></SmokeLines>
    </div>
  </Headline>
  <p class="sm:[grid-area:2/2/auto/-1] md:[grid-area:2/3/auto/-1] xl:[grid-area:2/3] max-md:pl-[5rem] md:pl-[var(--padding)]">
    Zahlen, Daten, Fakten: Alle wissenswerten Angaben, direkt aus unserem Bauplan.
  </p>
  <table class="sm:[grid-area:3/1/auto/-1] 2xl:[grid-area:3/2/auto/span_2] 3xl:[grid-area:3/3] md:max-2xl:mt-16 md:mx-8 lg:max-2xl:mx-16 max-lg:justify-self-center lg:max-2xl:justify-self-end w-fit border-white">
    <tbody>
      <tr>
        <th>Maße</th>
        <td>1.800mm x 850mm x 2.100mm (LxBxH)</td>
      </tr>
      <tr>
        <th>Grillfläche Garkammer</th>
        <td>795mm x 465mm (LxB)</td>
      </tr>
      <tr>
        <th>Grillfläche Brennkammer</th>
        <td>465mm x 465mm (LxB)</td>
      </tr>
      <tr>
        <th>Gesamtvolumen Garkammer</th>
        <td>ca. 190 l</td>
      </tr>
      <tr>
        <th>Material Brenn- und Garkammer</th>
        <td>Stahlblech 6mm</td>
      </tr>
      <tr>
        <th>Material Deckel</th>
        <td>Stahlblech 4mm</td>
      </tr>
      <tr>
        <th>Gewicht</th>
        <td>ca. 225 kg</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  tr:not(:first-child) {
    @apply border-t;
  }
  
  tr > * {
    @apply py-2 px-[var(--padding)];

    &:is(th) {
      @apply border-r text-left max-w-[20ch];
    }
  }
</style>

<style define:vars={{ bgHeight: '663px' }}></style>