<div class="absolute inset-x-0 h-[25vh] bg-center bg-cover [background-image:url(/images/log.jpg)] -z-10">
</div>
<div class="grid grid-cols-2 grid-rows-[auto,1fr] mt-[30vh] gap-x-16 gap-y-8">
  <figure class="row-start-1 row-span-2 col-start-1 grid [grid-template:1fr/1fr] -mt-24 h-fit">
    <img src="/images/smoker_features_1.jpg" class="object-cover [grid-area:1/1/-1/-1]">
    <figcaption class="text-xl [grid-area:1/1/-1/-1] place-self-end pr-4 translate-y-[2.3rem] text-ember">
      Gebaut um ein<br>Leben lang zu halten
    </figcaption>
  </figure>
  <h2 class="row-start-1 col-start-1 col-span-2 justify-self-end steel text-8xl">
    Technische Daten
  </h2>
  <div class="row-start-2 col-start-2 space-y-8 [--padding:1.5rem]">
    <p class="pl-[var(--padding)]">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt nobis, reprehenderit exercitationem itaque soluta non quae eligendi commodi illo quod vitae quas culpa quasi consequatur dolore! Voluptate ducimus reprehenderit similique!
    </p>
    <table class="border-white">
      <tbody>
        <tr>
          <th>Maße</th>
          <td>1.800mm x 850mm x 2.100mm (LxBxH)</td>
        </tr>
        <tr>
          <th>Gewicht</th>
          <td>ca. 225 kg</td>
        </tr>
        <tr>
          <th>Material</th>
          <td>hochwertiger Edelstahl</td>
        </tr>
        <tr>
          <th>Lorem</th>
          <td>psum dolor sit amet</td>
        </tr>
        <tr>
          <th>Ipsum</th>
          <td>adipisicing elit</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  tr:not(:first-child) {
    @apply border-t;
  }
  
  tr > * {
    @apply py-2 px-[var(--padding)];

    &:is(th) {
      @apply border-r text-left;
    }
  }
</style>